{% extends "projects/base.html" %}

    {% block content %}
        <h1>Agregar Proyecto <a href="{% url 'projects:new_project' %}" class="top-menu">+</a></h1>
        <p>Consulta el instructivo <a target="_blank" href="https://drive.google.com/file/d/0B0uM-voa1611MjJuSWN1WGxCUm9QTWhreUZOS0lad1ozN1dr/view?usp=sharing" class="top-menu">aquí</a></p>
        <p>¿Qué debe contener el resumen? <a target="_blank" href="https://drive.google.com/file/d/0B0uM-voa1611VXZvRXU4SzdJTEtUQkRxb3Z6dkIzWV9KYVVV/view?usp=sharing" class="top-menu">aquí</a></p>
    {% endblock%}